/* set height for multiple elements at once */
html {
  height: 100%;
  width: 100%;
  font-size: 16px; /* set root font size to default, rem based off this text size */
  background-color: #fffefc;
}

/* trying to stop scaling at certain window size */
/*@media screen and (max-width: 600px) {*/
/*  .hero-image {*/
/*    width: 600px;*/
/*  }*/
/*}*/

/*@media screen and (max-height: 1000px) {*/
/*  .hero-image {*/
/*    height: 1000px;*/
/*    background-position: top left;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 800px) {*/
/*  #nav-bar {*/
/*    background-size: 800px;*/
/*    background-position: top left;*/
/*  }*/
/*}*/

/* FONTS */
/* import custom fonts that I downloaded via Google Fonts */
@font-face {
  font-family: Satisfy;
  src: url("./fonts/Satisfy/Satisfy-Regular.ttf");
}

@font-face {
  font-family: Ojuju;
  src: url("./fonts/Ojuju/Ojuju-VariableFont_wght.ttf");
}

@font-face {
  font-family: FugazOne;
  src: url("./fonts/Fugaz_One/FugazOne-Regular.ttf");
}

/* NAVIGATION BAR */
/* create the navigation bar as a flexbox */
#nav-bar {
  display: flex; /* make a flexbox type */
  flex-direction: column; /* nav bar links arranged in columns */
  flex-wrap: nowrap; /* do not wrap text */
  margin: 0; /* space between nav bar and hero panel beneath */
  background-color: darkslategrey; /* color of nav bar background */
  align-items: center;  /* as a group of links, align center */
  position: fixed; /* keep the navigation bar in place as you scroll down the page */
  top: 0; /* keep fixed to top of page */
  width: 100%; /* need to specify width when using fixed position */
  overflow: hidden; /* hides content if frame is shrunk */
}

#nav-bar ul {
  display: flex; /* display is not inherited, need to define for each child */
  list-style-type: none; /* ul will automatically have bullets, remove them */
  padding: 0 1rem; /* first val is top + bottom, second is right + left */
}

/* style for the navigation bar link */
#nav-bar ul li {
  display: flex;
  color: whitesmoke; /* color of text of nav links */
  font-family: Ojuju; /* font to use for the links */
}

/* remove the border from the last element in the navigation bar */
/*#nav-bar ul li:last-child {*/
/*  border-right: none; !* not currently using borders at all, but kept to see how to use first/last child *!*/
/*}*/

/* format the links in the navigation bar */
.nav-link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.25rem;
  /*text-align: center;*/
  padding: 0.5rem 2rem; /* set padding or area around link won't highlight entire width/height of link */
}

/* make the format of the current page appear different */
#current-link {
  font-family: FugazOne;
  font-size: 1.4rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: lightcoral;
  pointer-events: none; /* don't change appearance when hovering over text */
  /*border-bottom: antiquewhite solid 5px;*/
}

/* order of selector matters, keep ordered this way */
/* don't want to change settings if already clicked */
/*.nav-link:visited {*/
/*}*/

/* format of link when hovering over link */
.nav-link:hover, .nav-link:focus {
  background-color: antiquewhite;
  color: darkslategrey;
  font-family: FugazOne;
  font-size: 1.4rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* style of link the moment it is clicked */
.nav-link:active {
  -webkit-text-fill-color: dimgray;
}

/* project box on project page */
.project-box {
  display: flex; /* make a flexbox type */
  flex-direction: column; /* projects arranged in columns */
  flex-wrap: nowrap; /* do not wrap text */
  margin: 0; /* space between project boxes and body text */
  align-items: center;  /* as a group of links, align center */
  overflow: hidden; /* hides content if frame is shrunk */
  justify-content: space-around;
  text-align: center;
  height: 250px;
  width: 100%;
  background-color: darkslategrey;
}

.project-box ul {
  display: flex; /* display is not inherited, need to define for each child */
  list-style-type: none; /* ul will automatically have bullets, remove them */
  padding: 0 1rem; /* for some reason, doesn't sit center without this */
}

/* style for the navigation bar link */
.project-box ul li {
  display: inline-block;
  /*color: whitesmoke; !* color of text of nav links *!*/
  /*font-family: Ojuju; !* font to use for the links *!*/
  margin: 20px;
  border: 5px #fffefc solid;
  padding: 10px;
  height: 150px;
  width: 250px;
  text-align: center;
}

/* remove the border from the last element in the navigation bar */
/*#nav-bar ul li:last-child {*/
/*  border-right: none; !* not currently using borders at all, but kept to see how to use first/last child *!*/
/*}*/

/* format the links in the navigation bar */
.page-link {
  display: table-cell;
  text-decoration: none;
  vertical-align: top;
  font-family: FugazOne;
  font-size: 1.4rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: #fffefc;
}



/* HERO IMAGE */
/* hero image layer is not a flexbox */
.hero-image {
  height: 45vh;  /* image uses 65% of the viewport */
  background-image: url("./images/home_banner.png"); /* link to my background image */
  background-size: cover; /* takes full width of the viewport */
  background-position: center; /* aligns to center of the viewport */
  background-repeat: no-repeat;
  margin-top: 88px; /* add top margin to accomodate fixed navigation bar */
  width: 100%;
}

/* hero image overlay text is, however, a flexbox */
.hero-text {
  display: flex; /* make a flexbox type */
  width: 100%; /* set to same width as parent (hero image) */
  height: 100%; /* set to same height as parent (hero image */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  margin: 0;
  overflow: hidden;
}

.large-overlay {
  width: 500px; /* needs to be set to fixed size, px, to allow alignment with small overlay */
  padding: 25px;  /* have to use padding, not height, or text will not sit in center of box */
  border: solid black 0.1em;
  background-color: rgb(245, 245, 245, 0.70);
  font-size: 4.25rem;
  font-family: Satisfy;
}

.small-overlay {
  position: relative;
  top: -65px; /* move up the text using px to maintain spacing when resizing frame */
  left: 50px; /* also requires fixed size, px, to maintain spacing w/large overlay when resizing */
  font-size: 1.15em;  /* use em to scale relative to the size of the parent */
  font-family: Ojuju;
  font-weight: lighter;
}

/*button {*/
/*  background-color: whitesmoke; !* matches text color *!*/
/*  border: none;*/
/*  color: black;*/
/*  padding: 4px 16px;*/
/*  text-align: center;*/
/*  text-decoration: none;*/
/*  display: inline-block;*/
/*  font-size: 16px;*/
/*}*/

/* PAGE BODY TEXT */
/* create a border after the hero image, before text starts */
.border {
  background-color: darkslategrey;
  height: 1vh;
}

.blank-border {
  height: 2vh;
}

/* everything below this border is part of the same flexbox */
.main-box {
  display: flex;
  flex-direction: column;
}

/* settings for all font in this section, mostly related to text layout on page */
.main-text {
  padding: 0 0.75rem;
}

/* set the text style for the body main header */
.main-text h1 {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: left;
  font-family: Ojuju;
  font-weight: bold;
  letter-spacing: 0.25rem;
}

.main-text h2 {
  font-size: 2rem;
  text-align: left;
  font-family: Ojuju;
  font-weight: bolder;
  /*font-family: "Kohinoor Devanagari", monospace, Verdana, sans-serif; !* try first font, if doesn't render, use Verdana *!*/
  color: black;
  letter-spacing: 0.1rem;
  margin-top: 0;
}

.main-text h3 {
  font-family: "Kohinoor Devanagari", monospace, Verdana, sans-serif; /* try first font, if doesn't render, use Verdana */
  font-weight: lighter;
  font-size: 1.5rem;
  text-align: left;
  padding: 0 0.75rem;
}

/* add a top margin if there is no banner, to accomodate fixed nav bar */
#no-banner {
  margin-top: 100px;
}

.featured-text {
  text-align: center !important; /* need important to override parent, otherwise will default to left align */
}

/* add links in main text here so they appear similar to main paragraph text */
.main-text p {
  font-family: "Kohinoor Devanagari", monospace, Verdana, sans-serif; /* try first font, if doesn't render, use Verdana */
  font-weight: lighter;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  padding: inherit;
}

.inline-link {
  text-decoration: none;
  letter-spacing: 0.15rem;
  font-size: 1.4rem;
  color: darkslategrey;
  font-family: FugazOne;
}

.inline-link:hover, .page-link:hover {
  font-family: FugazOne;
  font-size: 1.4rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: lightcoral;
}

.inline-logo {
  height: 1.6rem;
  width: 1.6rem;
  vertical-align: center;
}

/* add a few more link-specific settings for main text links */
/* not working, meant to add github logo next to link but it overlaps */
/*.main-text a {*/
/*  background: url("./images/github_logo.png") no-repeat 100%;*/
/*  background-position: left;*/
/*  background-size: 1.5rem 1.5rem;*/
/*}*/